.header{
    background-color:rgb(69, 70, 71);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: #fff;
    
}
.logo{
    font-weight: bold;
    font-size: 30px;
}
.menu{
    display: flex;
    list-style: none;
}
 li{
  margin-left: 20px;
  font-size: 20px;
}